
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.comment {
    font-size: 14px;
    margin-left: -60px;
}
.media {
    margin: 15px 0 15px 70px;
    padding:5px;
    border-left: solid 1px  #aeaeae; 
    background: rgba(0,0,0,0.05);
    
}
.media:first-child {
    margin-top: 20px;}

.media p{
	padding: 5px 10px;
	background:rgba(0,0,0,0.05);
    
}

.panel1 {
    padding-right: 10px;
}
.date{
	display: inline-block;
	text-align: right;
	background:transparent;
}

.panel2{
  padding: 10px;
}
.send-bt{
	margin-top: 10px;
}
#comment_form{
    display: none;
}
